.vscode
__pycache__
build
*.egg-info
data/
logs/
checkpoints/
cmteb_results/
passages
secrets.json
*.npy
*.model
*.vocab
*.txt
*.old
*.crt
*.prof
*.so
*.c
*.csv
*.jsonv
*.pickle
*.out
*.log
*.lm
*.rkdb